<ion-header [translucent]="true">
  <ion-toolbar color="tertiary">
    <ion-title slot="secondary" style="margin-left: 80px;">
      Parcial 2
    </ion-title>

    <ion-buttons>
      <ion-button>
        <ion-icon style="color: green;" name="battery-charging-outline"></ion-icon>
      </ion-button>

      <ion-button>
        <ion-icon style="color: black;" name="construct-outline"></ion-icon>
      </ion-button>

      <ion-button>
        <ion-icon style="color: black;" name="download-outline"></ion-icon>
      </ion-button>

      <ion-button>
        <ion-icon style="color: black;" slot="icon-only" name="ellipsis-vertical-outline"></ion-icon>
      </ion-button>

    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title >Parcial 2</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <ion-text color="secondary"> 
      <h1>H1: Diferentes párrafos con estilo </h1>
    </ion-text>
    <ion-text color="primary">
      <h2>H2: Diferentes párrafos con estilo</h2>
    </ion-text>
    <ion-text color="warning">
      <h3>H3: Diferentes párrafos con estilo</h3>
    </ion-text>
    <ion-text color="danger">
      <h4>H4: Diferentes párrafos con estilo</h4>
    </ion-text>
    <ion-text color="dark">
      <h5>H5: Diferentes párrafos con estilo</h5>
    </ion-text>
    <p>
      "La mayoría de softwareacualmente es muy parecido
      a una pirámide egipcia, con millones de
      <ion-text color="danger"><sub>ladrillos</sub></ion-text>puestos unnos encima de otros sin una estructura
      integral,<ion-text color="primary"><i> simplemente
      </i></ion-text>
      realizada a base de <ion-text color="secondary"><a>fuerza bruta y miles de esclavos"</a></ion-text>
      <ion-text color="warning"><ion-icon name="airplane"></ion-icon></ion-text>
      </p>
      <ion-button shape="round" fill="outline">Outline + Round </ion-button>
  </div>
</ion-content>
